doctype html
html
	head
		title #{user.name}'s Profile
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="style/style.css")
		link(rel="shortcut icon" href="favicon.png")
body(style="background-color: #300;")
	div#header
	div.content
		p User: #{user.name} #{user.surname}
		p Mail: #{user.email}
		p Fame: #{user.fame}
		p Todo: calculate age
		p Age #{user.age}
		p Gender #{user.gender}
		p Todo: Show preferences
		p Preferences #{user.name}
		p Todo: Show tags
		p Tags #{username}
		p Todo: Show location
		p Location #{username}
		p Bio #{username}
		p phone #{username}
create_date 
script.

	function register_validate() {
		
	}
